*{
	margin: 0px;
	padding: 0px;
	font-family: 'Ubuntu', sans-serif;

}
.imgIcono{
	width: 40px;
}
a{
	text-decoration: none;
}
h2{
	font-size: 2rem;
}
li a{
	font-size: 20px;
}

@media only screen and (max-width: 768px){
	h2{
		font-size: 1rem;
	}
}

